---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About"
  description="Learn about KPI Examples, an open-source project dedicated to providing a comprehensive database of business KPIs and metrics."
>
  <h1>About</h1>

  <p>
    Ever tried to find a solid, no-nonsense database of business KPIs and metrics online? It's not easy. Despite
    a sea of information, much of it is more focused on selling you stuff than on providing clear, useful insights.
  </p>

  <p>
    Here at <a href="https://operately.com">Operately</a>, we just wanted something simple and genuinely helpful.
    So, we rolled up our sleeves and built this clutter-free website.
  </p>

  <h2>We want this information to be around for a long time</h2>
  <p>That's why this website is open source:</p>
  <ul>
    <li>
      <a href="https://github.com/operately/kpiexamples-website">
        GitHub repository: operately/kpiexamples-website
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheets/d/17rw8FVoOh9jKP6HGZARI5ba7EXTp-x3xBbWcOtoW0vs">
        KPI database: Google Sheet
      </a>
    </li>
  </ul>
  <p>We welcome anyone who wants to <a href="/contribute">contribute</a>.</p>

  <h2 id="contact">Get in touch</h2>
  <p>
    Thank you for exploring this site and taking the time to understand what we're trying to achieve. Got a
    question? Want to chat about KPIs, business operations, or just about anything else?
  </p>
  <ul>
    <li>Email: hello at operately dot com</li>
    <li><span class="line-through">Twitter</span> X: <a href="https://x.com/operately">@operately</a></li>
    <li><a href="https://discord.gg/CU6kgx8hkX">Discord</a></li>
  </ul>
</BaseLayout>
