---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Code of Conduct"
  description="This Code of Conduct aims to ensure that our community remains welcoming, respectful, and inclusive for everyone."
>
  <h1>Code of Conduct</h1>
  <p><strong><em>Last updated Oct 5, 2023</em></strong></p>

  <p>
    Welcome to KPI Examples. This Code of Conduct aims to ensure that our community remains welcoming, respectful,
    and inclusive for everyone.
  </p>

  <ol>
    <li><strong>Respect Each Other:</strong> Disagreements are okay, but disrespect and personal attacks are not.</li>
    <li><strong>Inclusivity:</strong> Discrimination or harassment based on protected status is unacceptable.</li>
    <li><strong>Safe Environment:</strong> Do not post violent, graphic, or adult content.</li>
    <li><strong>No Spamming:</strong> Refrain from posting unsolicited promotions or repetitive content.</li>
    <li><strong>Protect Privacy:</strong> Do not post yours or others' personal information.</li>
  </ol>

  <p>
    Violations of this code may result in warnings, post deletions, or bans from the website. The site administrators
    have the final decision on any actions taken.
  </p>
</BaseLayout>
