---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Contribute"
  description="Contribute to the open-source KPI database. Help by adding new KPIs, improving existing ones, or sharing your insights."
>
  <h1>Contribute to KPI Examples</h1>

  <p>
    We encourage all users of KPI Examples to share their insights, knowledge, and experiences. There are several
    ways you can contribute:
  </p>

  <h2>1. Contribute to the KPI Database</h2>
  <p>
    The KPI database is a public, growing resource designed to help businesses track their progress and measure
    success. We aim to cover a broad spectrum of industries and functions, and your expertise can make it even better.
  </p>

  <h3>1.1 Provide feedback on existing KPIs</h3>
  <p>
    If you've got suggestions on how to improve the descriptions, examples, or any other aspects of our existing
    KPIs, submit your feedback directly on our
    <a href="https://docs.google.com/spreadsheets/d/17rw8FVoOh9jKP6HGZARI5ba7EXTp-x3xBbWcOtoW0vs">
      public Google Sheet
    </a>.
  </p>

  <h3>1.2 Propose New KPIs</h3>
  <p>
    Do you have an idea for a KPI that isn't already included in our database? Submit your proposals on the
    <a href="https://docs.google.com/spreadsheets/d/17rw8FVoOh9jKP6HGZARI5ba7EXTp-x3xBbWcOtoW0vs">Google Sheet</a>
    and help us grow this resource.
  </p>

  <h2>2. Contribute to this website</h2>
  <p>
    If you have suggestions for improvements or have noticed any issues on this website, submit an issue on the
    public <a href="https://github.com/operately/kpiexamples">GitHub repository</a>.
  </p>
</BaseLayout>
